/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 85.375rem;
}
.el-breadcrumb {
    margin-bottom: .9375rem;
    font-size: .75rem;
}
.el-card {
    box-shadow: 0 .0625rem .0625rem rgba(0, 0, 0, 0.15) !important;
}
.el-table {
    margin-top: .9375rem;
    font-size: .75rem;
}

.el-pagination {
    margin-top: .9375rem;
}
.el-cascader-menu {
    height: 300px;
  }
.el-radio {
    color: #606266;
    cursor: pointer;
    visibility: hidden; 
    margin-right: 30px;
}
.el-steps {
    margin: .9375rem 0;
}
.el-step__title {
    font-size: .8125rem;
}
.ql-editor {
    min-height: 18.75rem;
}